* {
	margin: 0;
}

body {
	display: flex;
	flex-flow: column;
	align-items: center;
	height: 100vh;
	background: #FAFAFA;
	font-family: sans-serif;
}

/*Template Start*/
table {
	top: 20px;
  border-collapse: collapse;
  background: white;
	border-radius: 4px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
	box-shadow: 3px 5px #f0f0f0;

}



thead	{
	font-family: sans-serif;
	box-shadow: 2px 2px #f0f0f0;
	color: #666;
	font-size: 15px;

}

td {
	font-family: monospace;
	font-size: 12px;
}


table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 50px;
}
table tbody tr {
  height: 80px;
}

table tbody tr:last-child {
  border: 0;
}

table td, table th {
	height: 100%;
  text-align: left;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}

.main {
	display: flex;
	flex-flow: column nowrap;
	width: 90%;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

/*
Template END*/
main {
	width: 100%;
	display: flex;
	justify-content: center;
}

/*Template Start*/
table {
	top: 20px;
  border-collapse: collapse;
  background: white;
	border-radius: 4px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
	box-shadow: 3px 5px #f0f0f0;

}



thead	{
	font-family: sans-serif;
	box-shadow: 2px 2px #f0f0f0;
	color: #666;
	font-size: 15px;

}

td {
	font-family: monospace;
	font-size: 12px;
}


table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 50px;
}
table tbody tr {
  height: 80px;
}

table tbody tr:last-child {
  border: 0;
}

table td, table th {
  text-align: left;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}

tbody > tr:hover {
	background-color: rgb(255, 198, 162);
}

tbody > tr:active {
	background-color: #FF6708;
	color: #fff;
}

.header {
	background-color: #6202EE;
	display: flex;
	width: 100%;
	flex-flow: row nowrap;
	padding: 5px 0px;
	margin-bottom: 10px;
	align-items: center;
	box-shadow: 0px 3px 6px #999;
}

.header a {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	height: 54px;
	width: 54px;
	overflow: hidden;
}

.header p {
	flex: 2;
	padding: 5px 0;
	font-size: 20px;
	color: #FFF;
	text-transform: uppercase;
}

.header a img {
	margin-left: 15px;
	height: 40px;
	width: 40px;
	padding: 0;
}

main {
	display: flex;
	flex-flow: column nowrap;
	width: 90%;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

.search {
	width: 90%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin-bottom: 20px;
}

.new-order-button {
	flex-basis: 15%;
	background-color: #FF8941;
	padding: 12px 6px;
	margin-right: 15px;
	border: none;
	border-radius: 4px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFF;
	box-shadow: 2px 2px #CCC;
	transition: box-shadow, background-color 0.2s;
}

.new-order-button:hover {
	transition-duration: 0.2s;
	box-shadow: 2px 3px #333;
	background-color: #FF6708;
}

.searchbar {
	flex: 2;
	flex-basis: 80%;
	padding: 9px 20px;
	border: none;
	box-shadow: 2px 2px #e8e8e8;
	background-color: #f0f0f0;
}

.review-form {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.approval-buttons {
	width: 30%;
	display: flex;
	flex-flow: row nowrap;
}

.approval-buttons button {
  flex-basis: 45%;
  font-weight: 700;
}

.limiter {
	width: 90%;
	margin-bottom: 20px;
}

.dash-part {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.dash-part tr {
  width: 100%;
  height: minmax(35px, auto);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dash-part tr th {
  flex-basis: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dash-part tr td {
  flex-basis: 12%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.dash-part tr td > img {
	width: 50px;
	height: 50px;
}

.check {
	background-color: #ff6708;
}

#nao-revisado {
	height: 25%;
	border-radius: 5px;
	background-color: grey;
	color: white;
}

#aceito {
	height: 25%;
	border-radius: 5px;
	background-color: green;
	color: white;
}

#negado {
	height: 25%;
	border-radius: 5px;
	background-color: red;
	color: white;
}
/* .review-form {
  width: 40%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
} */

.approve-buttons {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	width: 20%;
}

.approve-buttons button {
  flex-basis: 45%;
  font-weight: 700;
}

#accept{
  background-color: rgb(123, 247, 112);
  color: #333;
}

#accept:hover {
  background-color: rgb(64, 209, 50);
}

#deny{
  background-color: rgb(240, 125, 125);
}

#deny:hover {
  background-color: rgb(252, 72, 72);
}
