* { 
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  font-family: sans-serif;
  color: #333;
}

a {
  color: #6202EE;
}

body {
  padding-top: 40px;
  display: flex;
	align-items: center;
	flex-flow: column nowrap;
	width: 100%;
	height: 100%;
	padding-bottom: 40px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
	background-color: #6202EE;
	display: flex;
	width: 100%;
	flex-flow: row nowrap;
	padding: 5px 0px;
	margin-bottom: 10px;
	align-items: center;
	box-shadow: 0px 3px 6px #999;
}

header a {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	height: 54px;
	width: 54px;
	overflow: hidden;
}

header a img {
	margin-left: 15px;
	height: 40px;
	width: 40px;
	padding: 0;
}

header p {
	flex: 2;
	padding: 5px 0;
	font-family: sans-serif;
	font-size: 20px;
	color: #FFF;
	text-transform: uppercase;
}

main {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  align-items: center;
}

.det {
  width: 65%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 56px 0;
}

.det-img {
  flex-basis: 30%;
  overflow: hidden;
}

.det-img img {
  width: 100%;
  height: calc(width);
}

.det-f {
  flex-basis: 60%;
  display: flex;
  justify-content: flex-end;
}

.det-det {
  flex-basis: 85%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.det-det > div {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.det-det > div:not(:last-child) {
  margin-bottom: 24px;
}

#values {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

#values > div p:first-child {
  font-size: 15px;
  font-weight: bold;
}

#values > div p:last-child {
  font-size: 24px;
  font-weight: normal;
}

.sep-s p:first-child {
  margin-bottom: 8px;
}

.desc {
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.desc div:not(:last-child){
  margin-bottom: 28px;
}

.desc-div {
  width: 80%;
  display: flex;
  flex-flow: column nowrap;
  align-content: flex-start;
}

.desc-div p {
  text-align: left;
}

.desc-div p:first-child {
  font-size: 15px;
  font-weight: bold;
}

.desc-div p:last-child {
  font-size: 15px;
  font-weight: normal;
  padding-bottom: 5px;
  border-bottom: 2px solid #6202EE

}

.not-found {
  font-size: 15px;
} 

#nome {
  font-size: 24px;
  font-weight: bold;
}

#dep {
  font-size: 15px;
  font-weight: normal;
  color: grey;
}

#prod {
  font-size: 40px;
  font-weight: bold;
}

#link {
  font-size: 15px;
  font-weight: bold;
}