* {
	margin: 0;
	padding: 0;
}

label {
	font-family: sans-serif;
	font-size: 15px;
}

body {
	display: flex;
	align-items: center;
	flex-flow: column nowrap;
	width: 100%;
	height: 100%;
	padding-bottom: 40px;
}

.header {
	background-color: #6202EE;
	display: flex;
	width: 100%;
	flex-flow: row nowrap;
	padding: 5px 0px;
	margin-bottom: 10px;
	align-items: center;
	box-shadow: 0px 3px 6px #999;
}

.header a {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	height: 54px;
	width: 54px;
	overflow: hidden;
}

.header a img {
	margin-left: 15px;
	height: 40px;
	width: 40px;
	padding: 0;
}

.header p {
	flex: 2;
	padding: 5px 0;
	font-family: sans-serif;
	font-size: 20px;
	color: #FFF;
	text-transform: uppercase;
}

main {
	display: flex;
	flex-flow: column nowrap;
	width: 90%;
	margin-top: 15px;
	align-items: flex-start;
}

main form {
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	width: 50%;
}

main form div label {
	padding-bottom: 10px;
}

.col-div {
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	margin-bottom: 40px;
}

.row-div {
	display: flex;
	flex-flow: row nowrap;
	width: 65%;
	justify-content: space-between;
}

.number-input {
	height: 30px;
	max-width: calc(100%-10px);
	padding-left: 10px;
	background-color: #f3f3f3;
	border: none;
	border-radius: 8px;
	outline: none;
	box-shadow: 1px 1px 4px #ccc;
	transition: box-shadow 0.5s; 
}

.number-input:focus {
	box-shadow: 3px 3px 4px #999;
}

.select {
	-webkit-appearance: none;  /* Remove estilo padrão do Chrome */
   -moz-appearance: none; /* Remove estilo padrão do FireFox */
   appearance: none; /* Remove estilo padrão do FireFox*/
   background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-appearance.gif) no-repeat #eeeeee;  /* Imagem de fundo (Seta) */
   background-position: 218px center;  /*Posição da imagem do background*/
   width: 250px; /* Tamanho do select, maior que o tamanho da div "div-select" */
   height:30px; /* Altura do select, importante para que tenha a mesma altura em todo os navegadores */
	 border:1px solid #ddd;
	 padding-left: 10px;
	 outline: none;
	 border-radius: 8px;
}

.textarea {
	outline: none;
	border: none;
	border-bottom: 2px solid #6202EE;
	resize: none;
	padding: 10px;
	background-color: #f3f3f3;
	border-radius: 8px;
	font-size: 14px;
	box-shadow: 1px 1px 4px #ccc;
	transition: box-shadow 0.5s;
}

.textarea:focus {
	box-shadow: 3px 3px 4px #999;
}

.large-text {
	width: 400px;
  height: 100px;
}


.small-text {
	width: 400px;
	height: 20px;
	padding: 0 10px;
}

.new-order-button {
	background-color: #FF711B;
	flex-basis: 15%;
	margin-right: 20px;
	padding: 12px 12px;
	border: none;
	border-radius: 5px;
	font-size: 14px;
	text-transform: uppercase;
	color: #FFF;
	box-shadow: 1px 1px 8px #999;
	transition: box-shadow 0.1s;
}

.new-order-button:hover {
	box-shadow: 3px 3px 6px #666;
}

.input-button {
	display:none;
}

.input-label {
	padding: 10px;
	background-color: #f3f3f3;
	cursor: pointer;
	border-radius: 8px; 
	box-shadow: 2px 2px 2px #ccc;
	transition: box-shadow 0.1s;
}

.input-label:hover {
	box-shadow: 3px 3px 6px #999;
}