<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{css/dashboard-style-flex.css}">
	<title>Dashboard</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>
<body id="body">
	<header class="header">
		<a href="#" th:onclick="'confirmExit(`' + @{/login} + '`)'"><img th:src="@{images/seta-retornar.png}" alt="Retornar para página de login"></a>
		<p>Sistema de Compras | DAC</p>
	</header>
	<main id="main">
		<div class="search">
			<button th:if="${isEmployee}" class="new-order-button" th:onclick="'newOrder(' + ${userId} + ')'">NOVA SOLICITAÇÃO</button>
			<input id="bar" class="searchbar" type="text" placeholder="Search..."/>
		</div>
		<form th:action="@{/review}" method="post" class="review-form">
			<div class="limiter">	
				<table th:unless="${orders.empty or orders==null}">
					<thead class="dash-part">
						<tr>
							<th><input class="check" type="checkbox" onclick="toggle(this)"></th>
							<th th:if="${!isEmployee}">Solicitante</th>
							<th>Data de solicitação</th>
							<th>Pedido</th>
							<th>Imagem</th>
							<th>Status</th>
							<th>Custo</th>
						</tr>
					</thead>
					<tbody class="dash-part">
						<tr id="check-parent" th:each="order:${orders}">
							<td id="check"><input th:value="${order.id}" name="selectedOrders" type="checkbox"></td>
							<td th:onclick="'details(' + ${userId} + ',' + ${order.id} + ')'" th:if="${!isEmployee}" th:text="${order.requesterName}"></td>
							<td th:onclick="'details(' + ${userId} + ',' + ${order.id} + ')'" th:text="${order.viewPlacementTime}"></td>
							<td th:onclick="'details(' + ${userId} + ',' + ${order.id} + ')'" th:text="${order.productName}"></td>
							<td th:onclick="'details(' + ${userId} + ',' + ${order.id} + ')'" th:if="${order.imageOut != null}"><img th:attr="src='data:image/*;base64,' + ${order.imageOut}"></td>
							<td th:onclick="'details(' + ${userId} + ',' + ${order.id} + ')'" th:if="${order.imageOut == null}" >Sem imagem</td>
							<td th:onclick="'details(' + ${userId} + ',' + ${order.id} + ')'" id="nao-revisado" th:if="${order.status == T(io.dac.data.Status).NOT_REVIEWED}"> Não revisado</td>
							<td th:onclick="'details(' + ${userId} + ',' + ${order.id} + ')'" id="aceito" th:if="${order.status == T(io.dac.data.Status).APROVED}"> Aceito</td>
							<td th:onclick="'details(' + ${userId} + ',' + ${order.id} + ')'" id="negado" th:if="${order.status == T(io.dac.data.Status).DENIED}"> Negado</td>
							<td th:onclick="'details(' + ${userId} + ',' + ${order.id} + ')'" th:text="'R$ ' + ${order.quantity * order.unitValue}"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div th:if="${!isEmployee}" class="approval-buttons">
				<input type="hidden" name="userId" th:value="${userId}">
				<button th:value="yes" name="approval" class="new-order-button" id="accept">Aprovar</button>
				<button th:value="no" name="approval" class="new-order-button" id="deny">Negar</button>
			</div>
		</form>
	</main>

	<script th:inline="javascript">

			var input = document.getElementById("bar");
			input.addEventListener("keyup", function(event) {
				if (event.keyCode==13) {
					event.preventDefault();
					
					var name = input.value;
	
					var url = /*[[@{search}]]*/"";
					var form = $('<form action="' + url + '" method="get" id="form">' +
						'<input type="hidden" name="userId" value="' + /*[[ ${userId} ]]*/ +
						+ '" />' + '<input type="hidden" name="productName" value="' + name + '" />' +
						'<input type="hidden" name="isEmployee" value="' + /*[[ ${isEmployee} ]]*/ +
						+ '" />' + '</form>');
					$('body').append(form);
					form.submit();
				}
			})
			
	
			function details(user, order) {
				var url = /*[[@{details}]]*/"";
				var form = $('<form action="' + url + '" method="post" id="form">' +
					'<input type="hidden" name="orderId" value="' + order + '" />' +
					'<input type="hidden" name="userId" value="' + user + '" />' +
					'</form>');
				$('body').append(form);
				form.submit();
			}
			function confirmExit(url) {
				if(confirm("Certeza que deseja sair?")) {
					window.location = url;
				} 
			}

			function newOrder(userId) {
				var url = /*[[@{new-order}]]*/"";
				var form = $('<form action="' + url + '" method="post" id="form">' +
					'<input type="hidden" name="userId" value="' + userId + '" />' +
					'</form>');
				$('body').append(form);
				form.submit();
			}

			function toggle(source) {
				checkboxes = document.getElementsByName('selectedOrders');
					for(var i=0, n=checkboxes.length;i<n;i++) {
						checkboxes[i].checked = source.checked;
					}
			}
		</script>
</body>
</html>