<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" th:href="@{./../css/details.css}">
  <title>Detalhes do pedido</title>
</head>
<body>
  <header>

    <a th:href="@{/dashboard} + '/' + ${userId}"><img th:src="@{/images/seta-retornar.png}" alt="Retornar para página de login"></a>
    <p>Sistema de Compras | DAC</p>

  </header>
  <main>

    <div class="det">

      <div class="det-img">
        <img th:if="${order.imageOut != null}" th:src="'data:image/*;base64,' + ${order.imageOut}" alt="Imagem do produto">
        <img th:if="${order.imageOut == null}" th:src="@{/images/sem-foto.png}" alt="Imagem do produto">
      </div>
      <div class="det-f">
        <div class="det-det">

          <div>
              <p id="prod" th:text="${order.productName}"></p>
          </div>

          <div class="sep-s">
            <p id="nome" th:text="${order.requesterName}"></p>
            <p id="dep" th:text="'Departamento de ' + ${order.requesterDep}"></p>
          </div>

          <div id="values">

            <div class="sep-s">
              <p>Preço Total</p>
              <p th:text="'R$ ' + ${order.unitValue}*${order.quantity}">R$ 2000,00</p>
            </div>

            <div class="sep-s">
              <p>Preço Unitário</p>
              <p th:text="'R$ ' + ${order.unitValue}"></p>
            </div>

            <div class="sep-s">
              <p>Quantidade</p>
              <p th:text="${order.quantity}"></p>
            </div>

          </div>

          <div class="sep-s">
            <p id="link">Link de Referência</p>
            <a th:if="${order.refLink != null}" th:href="${order.refLink}" th:text="${order.refLink}"></a>
            <p class="not-found" th:if="${order.refLink == null}">Nenhum link de referência fornecido</p>
          </div>

          <div>
            <a th:if="${order.budgetOut != null}" th:href="@{'user/' + ${userId}+ '/' + ${order.id}}">Clique aqui para acessar o orçamento</a>
            <p class="not-found" th:if="${order.budgetOut == null}">Nenhum orçamento fornecido</p>
          </div>

        </div>
      </div>
    </div>

    <div class="desc">

      <div class="desc-div sep-s">
        <p>Descrição do Pedido</p>
        <p th:text="${order.description}"></p>
      </div>

      <div class="desc-div sep-s">
          <p>Justificativa do Pedido</p>
          <p th:if="${order.justification != null}" th:text="${order.justification}"></p>
          <p th:if="${order.justification == null}" >Nenhuma justificativa fornecida</p>
      </div>

      <div class="desc-div sep-s">
          <p>Comentários adicionais</p>
          <p th:if="${order.comments != null}" th:text="${order.comments}"></p>
          <p th:if="${order.comments == null}" >Nenhuma comentário adicional fornecido</p>
      </div>

    </div>

  </main>
</body>
</html>