<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{css/new-order.css}">
	<title>Nova solicitação</title>
</head>
<body>
		<header class="header">
				<a th:href="@{/dashboard} + '/' + ${userId}"><img th:src="@{images/seta-retornar.png}" alt="Retornar para página de login"></a>
				<p>Sistema de Compras | DAC</p>
			</header>
	<main>
		<form th:object="${order}" th:action="@{new-order/confirmation}" method="post" enctype="multipart/form-data">
			<div class="col-div">
				<label for="type">Tipo do pedido</label>
				<select name="type" th:field="*{orderType}" class="select">
					<option th:value="${T(io.dac.data.OrderType).PRODUCT}" selected>Produto</option>
					<option th:value="${T(io.dac.data.OrderType).SERVICE}">Serviço</option>
					<option th:value="${T(io.dac.data.OrderType).PRODUCT_AND_SERVICE}">Produto com serviço associado</option>
				</select>
			</div>

			<div class="col-div">
				<label>Nome do pedido (até 30 caracteres)</label>
				<textarea th:field="*{productName}" class="textarea small-text" placeholder="Nome do produto..."></textarea>
			</div>

			<div class="col-div">
				<label>Descrição do pedido</label>
				<textarea th:field="*{description}" class="textarea large-text" placeholder="Cor, tamanho, tipo, marca ..."></textarea>
			</div>

			<div class="row-div">
				<div class="col-div">
					<label>Quantidade</label>
					<input th:field="*{quantity}"  type="number" placeholder="0" class="number-input">
				</div>

				<div class="col-div">
					<label>Valor unitário</label>
					<input th:field="*{unitValue}" type="number" step=".01" placeholder="0.00" class="number-input">
				</div>
			</div>

			<div class="col-div">
				<label class="input-label" for="image">Imagem do produto</label>
				<input th:field="*{imageIn}" type="file" class="input-button" id="image" accept="image/*">
			</div> 

			<div class="col-div">
				<label class="input-label" for="budget">Anexo do orçamento</label>
				<input th:field="*{budgetIn}" class="input-button" type="file" id="budget">
			</div>

			<div class="col-div">
					<label>Link do site de referência</label>
					<textarea th:field="*{refLink}" class="textarea small-text" placeholder="https://example.com"></textarea>
			</div>

			<div class="col-div">
				<label>Justificativa do pedido</label>
				<textarea th:field="*{justification}" class="textarea large-text" placeholder="Justifique seu pedido"></textarea>
			</div>

			<div class="col-div">
				<label>Comentários adicionais</label>
				<textarea th:field="*{comments}" class="textarea large-text" placeholder="Deixe aqui seu comentário"></textarea>
			</div>
			
			<input type="hidden" th:value="${userId}" name="userId">

			<div>
				<button class="new-order-button">Enviar pedido</button>
			</div>

		</form>
	</main>
</body>
</html>